.holder {
    width: 75% !important;
}

.guilds {
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

.guilds a, h1, span, p {
    text-decoration: none;
}

.guild-title-holder {
    float: left;
    height: 100%;
    padding: 10px;
}

.guild-title-holder h1 {
    padding-left: 25px;
}

.guild-title-holder img, h1 {
    display: inline-block;
    vertical-align: middle;
}

.guild {
    width: 100%;
    height: 100px;
    background-color: #2f3136;

    border-radius: 25px;
    border: 2px solid;
    border-color:#2f3136;
}

.guild-holder {
    padding-bottom: 25px;
}

.guild:hover {
    border-color:#99AAB5;
}