.container {
    height: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 50%;
    height: 50%;

    
    text-align: center;
}

.holder {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);

    width: 90%;
    height: 90%;

    text-align: center;
}
